html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box!important;
}

/*end reset*/

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  margin: 50px;
  font: 14px sans-serif;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
}
.user {
  width: 20%;
  vertical-align: top;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  margin-right: 5px;
}
.btn:hover {
  background-color: #6d8cb0
}

.photo {
  display: inline-block;
  margin: 10px 2px;
  width: 130px;
}

.error {
  color: #FF0000;
}

.search-container {
  position: absolute;
  margin: 10px 0 0 125px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.18);
  border-radius: 0 0 6px 6px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.suggestions {
  background-color: #fff;
  max-height: 300px;
  color: #222;
  cursor: pointer;
  overflow: auto;
}

.search-container li {
  padding: 6px 16px;
}

.search-container li:hover {
  background-color: #cde;
}

.articles-container {
  position: relative;
  float: right;
}

@keyframes show {
  from {width: 0;}
  to {width: calc(100% - 25px);}
}

.show {
  -webkit-animation: show 3s ease-in-out;
  -o-animation: show 3s ease-in-out;
  animation: show 3s ease-in-out;
}

@keyframes hide {
  from {width: 100%;}
  to {width: 0;}
}

.hide {
  -webkit-animation: show 3s ease-in-out;
  -o-animation: show 3s ease-in-out;
  animation: show 3s ease-in-out;
}

.article {
  max-height: 40%;
  overflow: auto;
  min-height: 50px;
  padding-bottom: 8px;
}

.article li {
  padding: 6px 16px;
}

.article a {
  transition: color .4s;
  color: #265C83;
  text-decoration: none;
}

.article a:link,
.article a:visited { color: #265C83; }
.article a:hover   {
  color: #4FaBe6;
  text-decoration: underline;
}
.article a:active  {
  transition: color .3s;
  color: #007BE6;
}

.toggle {
  float: left;
  margin: 10px;
  position: relative;
  background-size: 24px 48px;
  background-color: #fff;
  cursor: pointer;
  border-right: 1px solid #eee;
  border-radius: 2px;
  box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.3);
}

.toggle_open {
  display:inline-block;
  width: 24px;
  height: 48px;
  background-size: 24px 48px;
  background-image: url('../../static/image/arrow-right.png');
  transform: scale(-1);
}

.toggle_close {
  display:inline-block;
  width: 24px;
  height: 48px;
  background-size: 24px 48px;
  background-image: url('../../static/image/arrow-right.png');
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.lang-article-container {
  float: right;
  background-color: #fff;
  border-bottom-left-radius: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.toggle-language {
  height: 35px;
  font-weight: bold;
  background-color: #fff;
  padding: 5px 50px;
  display: flex;
  flex-direction: row-reverse;
}

.toggle-language li {
  margin: 0 2px;
  padding: 5px 15px;
  color: #265C83;
  text-decoration: none;
  transition: all .2s;
}

.toggle-language li:hover {
  background: #1ABC9C;
  color: #fff;
}

.active {
  background: #1ABC9C;
  color: #fff!important;
}

.title {
  display: inline-block;
  padding: 12px 20px 8px 15px;
  color: #1ABC9C;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}

.head-container {
  border-bottom: 1px solid #cde;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: relative;
  height: 40px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}

.hidden {
  display: none;
}
